<div class="outer" *ngIf="products">
    <div class="">
        <h2>Products Management</h2>
        <hr/>
        <div class="row mt-5">
            <div class="col-12 d-flex flex-wrap gap-2">
                <div class="col-6">
                    <form [formGroup]="searchForm">
                        <input type="search" formControlName="text" placeholder="search here....." class="form-control p-2">
                    </form>
                </div>
                <div class="col-3">
                    <div class="d-flex justify-content-start">
                        &nbsp;
                        <button class="btn btn-primary p-2" (click)="openNewProductForm()">+ New Product</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-1">#Id</th>
                            <th class="col-1">Qty</th>
                            <th class="col-2">Unit Price</th>
                            <th class="col-4">Description</th>
                            <th class="col-2">IsAvailable</th>
                            <th class="col-1">Images</th>
                            <th class="col-1">Tools</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let product of products.object.dataList">
                        <tr>
                            <td>
                                <div class="table-data-context">
                                    <p>{{ product.propertyId }}</p> &nbsp;
                                    <mat-icon style="font-size: 15px;">content_copy</mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    {{ product.qty }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    {{ product.unitPrice }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    {{ product.description }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    {{ product.available }}
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    <mat-icon (click)="manageProductImage('')">photo_library</mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    <mat-icon (click)="openDeleteConfirmationForm('')">delete</mat-icon>
                                    <mat-icon (click)="openUpdateProductForm('')">edit</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>