<div class="outer">
    <div class="">
        <h2>Products Management</h2>
        <hr/>
        <div class="raw mt-5">
            <div class="colomn-12 d-flex flex-wrap gap-2">
                <div class="col-6">
                    <form>
                        <input type="search" placeholder="search here....." class="form-control p-2">
                    </form>
                </div>
                <div class="col-3">
                    <form class="d-flex justify-content-start">
                        <button class="btn btn-primary p-2">+ New Product</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="raw mt-5">
            <div class="colomn-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-1">#Id</th>
                            <th class="col-1">Qty</th>
                            <th class="col-2">Unit Price</th>
                            <th class="col-4">Description</th>
                            <th class="col-2">IsAvailable</th>
                            <th class="col-1">Images</th>
                            <th class="col-1">Tools</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="table-data-context">
                                    <p>0001</p> &nbsp;
                                    <mat-icon style="font-size: 15px;">content_copy</mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    123
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    $4500.00
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    Product 01
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    Available
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    <mat-icon>photo_library</mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    <mat-icon>delete</mat-icon>
                                    <mat-icon>edit</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>