<div class="outer">
    <div class="container">
        <h2>Products Management</h2>
        <hr/>
        <div class="raw mt-5">
            <div class="colomn-1">
                <form>
                    <input type="search" placeholder="search here....." class="form-control">
                </form>
            </div>
        </div>
        <div class="raw mt-5">
            <div class="colomn-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-1">#Id</th>
                            <th class="col-1">Qty</th>
                            <th class="col-2">Unit Price</th>
                            <th class="col-6">Description</th>
                            <th class="col-1">IsAvailable</th>
                            <th class="col-1">Images</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="table-data-context">
                                    <p>0001</p> &nbsp;
                                    <mat-icon>content_copy</mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    123
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    Rs. 4500.00
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, corrupti. Voluptatum repellendus est, 
                                    nihil fugit ut facilis mollitia nulla? In reiciendis atque modi dignissimos, natus animi optio temporibus accusamus ducimus.
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    
                                </div>
                            </td>
                            <td>
                                <div class="table-data-context">
                                    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>