<h2 mat-dialog-title>Add New Product</h2>
<form [formGroup]="form" (ngSubmit)="create()">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-12">
                <label for="newProductDescription">Product Description</label>
                <input type="text" formControlName="description" class="form-control" id="newProductDescription">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <label for="newProductUnitPrice">Product Unit-Price</label>
                <input type="number" formControlName="unitPrice" class="form-control" id="newProductUnitPrice">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-12">
                <label for="newProductQTY">Product QTY on Hand</label>
                <input type="text" formControlName="qty" class="form-control" id="newProductQTY">
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button (click)="close()">Reset</button>
      <button mat-raised-button type="submit" color="primary">Create New Product</button>
    </mat-dialog-actions>
</form>
