<h2 mat-dialog-title>Update Product</h2>
<form action="">
    <mat-dialog-content class="mat-typography">
        <div class="raw">
            <div class="colomn-12">
                <label for="updateProductDescription">Product Description</label>
                <input type="text" class="form-control" id="updateProductDescription">
            </div>
        </div>
        <br/>
        <div class="raw">
            <div class="colomn-12">
                <label for="updateProductUnitPrice">Product Unit-Price</label>
                <input type="number" class="form-control" id="updateProductUnitPrice">
            </div>
        </div>
        <br/>
        <div class="raw">
            <div class="colomn-12">
                <label for="updateProductQTY">Product QTY on Hand</label>
                <input type="text" class="form-control" id="updateProductQTY">
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </mat-dialog-actions>
</form>
