/* reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Psuedo Class */
:root{
    --x-color: red;
}

.outer{
    padding: 1rem 5rem;
}

.table-data-context{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.table-data-context p{
    padding-top: 10px;
}

.table-data-context mat-icon{
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* Animation */
.table-data-context mat-icon:hover{
    color: red;
    transform: scale(1.1);
    transition: 0.2s all linear;
}