<div class="outer p-5">
    <div class="container">
        <div class="raw">
            <div class="colomn-4">
                <form action="">
                    <input type="search" name="" id="" class="form-control" placeholder="search here" />
                </form>
            </div>
        </div>
        <div class="raw mt-5">
            <div class="colomn-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-1 text-center">#Id</th>
                            <th class="col-2 text-center">Full Name</th>
                            <th class="col-2 text-center">Email</th>
                            <th class="col-1 text-center">Phone.No</th>
                            <th class="col-3 text-center">Address</th>
                            <th class="col-1 text-center">Active Status</th>
                            <th class="col-2 text-center">Tools</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr>
                            <td>
                                <div class="customers-table-data-context">
                                    0001 &nbsp;
                                    <mat-icon>content_copy</mat-icon>
                                </div>
                            </td>
                            <td>
                                <div class="customers-table-data-context">
                                    Chinthaka Senarathna
                                </div>
                            </td>
                            <td>
                                <div class="customers-table-data-context">
                                    <a href="#">abc{{'@'}}gmail.com</a>
                                </div>
                            </td>
                            <td>
                                <div class="customers-table-data-context">
                                    <a href="#">+94775803178</a>
                                </div>
                            </td>
                            <td>
                                <div class="customers-table-data-context">
                                    Meril De Silwa Rd, Elahera
                                </div>
                            </td>
                            <td>
                                <div class="customers-table-data-context">
                                    1
                                </div>
                            </td>
                            <td>
                                <div class="customers-table-data-context">
                                    <mat-icon style="font-size: 20px;">delete</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>